@media (min-width: 992px) { .toc-group { position: fixed; z-index: 1; top: 240px; max-width: 236px; overflow-x: hidden; } }

@media print { a[href]:after { content: ""; } }

span.lang1 { display: none; }

.highlighter-rouge pre.highlight { border: none; }

.highlighter-rouge div.highlight::before { display: inline-block; color: #fff; font-size: 1rem; font-weight: 700; height: 1.5rem; letter-spacing: .1em; line-height: 1.5rem; padding: 0 .5em; text-transform: uppercase; top: 0; }

.language-bash div.highlight::before { background: #669; content: "Terminal"; }

.language-xml div.highlight::before { background: #577d8f; content: "XML"; }

.language-python div.highlight::before { background: #61964d; content: "Python"; }

.language-cpp div.highlight::before { background: #996680; content: "C++"; }

.language-js div.highlight::before { background: #bba007; content: "JavaScript"; }

.language-html div.highlight::before { background: #a8895a; content: "HTML / JavaScript"; }

.language-json div.highlight::before { background: #bba007; content: "Json"; }

aside { padding: 10px 20px; margin: 0 0 20px; background: #D0EAF1; border-left: 5px solid #52B1CB; border-right: 5px solid #52B1CB; }

aside p:last-child { margin-bottom: 0px; }

h3::before { content: ''; display: block; height: 70px; margin-top: -70px; visibility: hidden; }
