name: Reference book for Verovio
description: Everything you need to use the Verovio music notation engraving library
baseurl: ""
exclude: ['scripts']

verovio-version: 3.5

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter_opts:
    #css_class   : 'syntax'

webrick:
  headers:
    Access-Control-Allow-Origin: "*"

sass:
  sourcemap: never

theme: verovio-theme

twitter:
  card: summary

plugins:
  - "jekyll-github-metadata"

edit-path: "https://github.com/rism-digital/verovio-reference-book/edit/master"

defaults:
  - scope:
      path: ""
    values:
      layout: book
      verovio: false
      active: book
      image: https://book.verovio.org/images/card.png

collections:
    book:
        output: true

generate-full-chapters: true