---
layout: default
---

{% assign toc = site.data['toc'] %}
{% assign chapters = site.data['chapters'] %}
{% assign sections = site.data['sections'] %}

<div class="row">
    <div class="col-md-3 sidebar-offcanvas" id="sidebar">
        {% include sidebar-chapters.html %}
    </div>

    <div class="col-md-9">
        <div class="panel">
            <a class="hidden-print" href="{{ site.edit-path}}/{{ page.path }}"><button class="btn btn-xs pull-right">Edit this page</button></a>
            <h2>{{ page.title }}</h2>
            {{ content }}
        </div>
    </div>
</div>

