---
layout: default
---

{% assign toc = site.data['toc'] %}
{% assign chapters = site.data['chapters'] %}
{% assign sections = site.data['sections'] %}

<div class="row">
    <div class="col-md-3 sidebar-offcanvas" id="sidebar">
        {% include sidebar-chapters.html %}
    </div>

    <div class="col-md-9">
        {% unless page.no-edit %}
        <a class="hidden-print" href="{{ site.edit-path}}/{{ page.path }}"><button class="btn btn-xs pull-right">Edit this page</button></a>
        {% endunless %}
        {% if page.chapter-title %}<h1>{{ page.chapter-title }}</h1>{% endif %}
        {% if page.title != '00 Index' %}<h2>{{ page.title }}</h2>{% endif %}
        {{ content }}
    </div>
</div>

<script>
    let options = {
        rootMargin: '60px'
    }
    function adjustSideBar() {
        elem = document.getElementsByClassName("toc-group")[0];
        // 992 is the breakpoint for which the sidebar moves to the top; 35 is the footer height
        elem.style.height = (window.innerWidth < 992) ? "" : `${window.innerHeight - elem.offsetTop - 35}px`;
    }

    window.onresize = function () {
        adjustSideBar();
    };
    window.onload = function() {
        adjustSideBar();
    };

    window.addEventListener('DOMContentLoaded', () => {
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const id = entry.target.getAttribute('id');
                if (entry.intersectionRatio > 0) {
                    // First deselect everything
                    sections = document.querySelectorAll(`.toc-group a.toc-subsection`);
                    for (i = 0; i < sections.length; i++){
                        sections[i].classList.remove('selected');
                    }
                    // The one entering is marked as .on-screen
                    document.querySelector(`.toc-group a[href="#${id}"]`).classList.add('on-screen');
                    // Select the first that in .on-screen
                    sections = document.querySelectorAll(`.toc-group a.toc-subsection.on-screen`);
                    sections[0].classList.add('selected');

                } else {
                    leaving = document.querySelector(`.toc-group a[href="#${id}"]`)
                    // Remove the .on-screen from the one leaving
                    leaving.classList.remove('on-screen');
                    sections = document.querySelectorAll(`.toc-group a.toc-subsection.on-screen`);
                    // If no other one is on screen, just leave things as they are
                    if (sections.length > 0) {
                        // Otherwise de-select the one that is leaving
                        leaving.classList.remove('selected');
                        // Selected the first .on-screen one and de-select the other ones
                        sections[0].classList.add('selected');
                        for (i = 1; i < sections.length; i++){
                            console.log(sections[i].getAttribute('id'))
                            sections[i].classList.remove('selected');
                        }
                    }
                }
            });
        }, options);

        // Track all sections that have an `id` applied
        document.querySelectorAll('h3[id]').forEach((section) => {
            observer.observe(section);
        });

    });
</script>

